<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--style-->
        <link rel="stylesheet" href="src/styles/style.css">
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!--Title-->
        <title>GetAPet - MarketMix</title>
    </head>
    <body>
        <!--Content-->
        <main id="app" class="bg-dark" style="height:100vh; width: 100vw">
             <!--Navbar-->
             <nav v-if="render.login">
                <!--Logo-->
                <div class="nav-logo">
                    <img class="logo-image" src="src/assets/icons/logo.png" alt="Logo">
                </div>
                <!--Burger menu-->
                <div class="burger-menu" @click="toggleMenu">
                    <div class="burger-menu__line"></div>
                    <div class="burger-menu__line"></div>
                    <div class="burger-menu__line"></div>
                </div>
                <!--options-->
                <ul :class="render.showMenu? 'nav-list nav-list__active': 'nav-list'">
                    <li class="nav-list__item">
                        Inicio
                    </li>
                    <li class="nav-list__item">
                        Adoptar
                    </li>
                    <li class="nav-list__item">
                        Dar en adopción
                    </li>
                    <li class="nav-list__item">
                        Administrar
                    </li>
                </ul>
            </nav>
            <!--Login-->
            <section 
                class="h-100 d-flex flex-column justify-content-center align-items-center" 
                style="
                    background-image: url('src/assets/images/background_login.jpg'); 
                    background-position: center; 
                    background-repeat: no-repeat;
                    background-size: cover;
                "
                v-cloak
                v-if="!render.login"
            >
                <div 
                    class="container d-flex flex-column justify-content-center align-items-center"
                    style="
                        height: 500px;
                        background-color: rgba(0,0,0,0.5);
                        border: 3px solid black;
                        border-radius: 10px;
                        padding: 20px;
                        width: 500px;
                    "
                >
                    <!--Title-->
                    <h1 class="text-light my-3" >Iniciar Sesión</h1>
                    <!--Form-->
                    <form class="container d-flex flex-column justify-content-center align-items-center" @submit.prevent="login">
                        <!--Email-->
                        <div class="mb-3">
                            <label for="username" class="form-label text-light">Nombre de usuario:</label>
                            <input type="text" class="form-control" id="username" v-model="username" placeholder="unUsuarioX">
                        </div>
                        <!--Password-->
                        <div class="mb-3">
                            <label for="password" class="form-label text-light">Contraseña:</label>
                            <input type="password" class="form-control" id="password" v-model="password" placeholder="********">
                        </div>
                        <!--Button-->
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
                </div>
            </section>
            <!--Home-->
            <section 
                class="main-home h-100 d-flex flex-column justify-content-center align-items-center" 
                v-cloak
                v-if="render.home"
            >
                <!--Content-->
                <div 
                    class="container d-flex flex-row justify-content-center align-items-center rounded"
                    style="
                        height: 500px;
                        width: 1000px;
                        padding: 20px;
                    "
                >
                    <div 
                        class="container bg-light d-flex flex-column justify-content-center align-items-center rounded"
                        style="
                            height: 50%;
                            width: 250px;
                            padding: 20px;
                            cursor: pointer;
                        "
                    >
                        <img height=100 src="src/assets/icons/adoptar.png" alt="">
                        <h3><b>Adoptar</b></h3>
                    </div>
                    <div 
                        class="container bg-light d-flex flex-column justify-content-center align-items-center rounded"
                        style="
                            height: 50%;
                            width: 250px;
                            padding: 20px;
                            cursor: pointer;
                        "
                    >
                        <img height=100 src="src/assets/icons/adopcion.png" alt="">
                        <h3 class="text-center"><b>Dar en adopción</b></h3>
                    </div>
                    <div 
                        class="container bg-light d-flex flex-column justify-content-center align-items-center rounded"
                        style="
                            height: 50%;
                            width: 250px;
                            padding: 20px;
                            cursor: pointer;
                        "
                    >
                        <img height=100 src="src/assets/icons/administrar.png" alt="">
                        <h3><b>Administrar</b></h3>
                    </div>
                </div>
            </section>
            <!--Adoption-->
            <section 
                class="main-adoption h-100 d-flex flex-column justify-content-center align-items-center" 
                v-cloak
                v-if="!render.adoption"
            >
                <h1>Adopta una mascota</h1>
                <div class="adoption-pets d-flex flex-row justify-content-center align-items-center bg-light rounded">
                    <div>
                        <div class="container py-2">
                            <img class="rounded" src="./src/assets/images/dog_1.jpg" alt="dog" width="250">
                        </div>
                        <div class="container">
                            <p><b>Nombre:</b>{{name}}</p>
                            <p><b>Especie:</b>{{especie}}</p>
                            <p><b>Raza:</b>{{race}}</p>
                            <p><b>Edad:</b>{{age}}</p>
                            <p><b>Sexo:</b>{{sex}}</p>
                            <p><b>Color:</b>{{color}}</p>
                            <p><b>Descripción:</b>{{description}}</p>
                        </div>
                        <div class="container d-flex justify-content-center align-items-center my-3">
                            <button class="btn btn-primary">Adoptar</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
    <!--Swal-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <!--Vue-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Login methods-->
    <script src="src/methods/loginMethods.js"></script>
    <!--Home methods-->
    <script src="src/methods/homeMethods.js"></script>
    <!--Main file-->
    <script src="src/main.js"></script>
</html>