<!DOCTYPE html>
<html lang="en">
    <head>
        <!--Meta-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--style-->
        <link rel="stylesheet" href="src/styles/style.css">
        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <!--Title-->
        <title>GetAPet - MarketMix</title>
    </head>
    <body>
        <!--Content-->
        <main id="app" class="bg-dark" style="height:100vh; width: 100vw">
             <!--Navbar-->
             <nav v-if="!render.login" v-cloak>
                <!--Logo-->
                <div class="nav-logo">
                    <img class="logo-image" src="src/assets/icons/logo.png" alt="Logo">
                </div>
                <!--Burger menu-->
                <div class="burger-menu" @click="toggleMenu">
                    <div class="burger-menu__line"></div>
                    <div class="burger-menu__line"></div>
                    <div class="burger-menu__line"></div>
                </div>
                <!--options-->
                <ul :class="render.showMenu? 'nav-list nav-list__active': 'nav-list'">
                    <li class="nav-list__item" @click="goToHome">
                        Inicio
                    </li>
                    <li class="nav-list__item" @click="goToAdoption">
                        Adoptar
                    </li>
                    <li class="nav-list__item" @click="goToGiveUpForAdoption">
                        Dar en adopción
                    </li>
                    <li class="nav-list__item" @click="goToAdmin" v-if="user.admin" v-cloak>
                        Administrador
                    </li>
                </ul>
            </nav>
            <!--Login-->
            <section 
                class="h-100 d-flex flex-column justify-content-center align-items-center" 
                style="
                    background-image: url('src/assets/images/background_login.jpg'); 
                    background-position: center; 
                    background-repeat: no-repeat;
                    background-size: cover;
                "
                v-cloak
                v-if="render.login"
            >
                <div 
                    class="container d-flex flex-column justify-content-center align-items-center"
                    style="
                        height: 500px;
                        background-color: rgba(0,0,0,0.5);
                        border: 3px solid black;
                        border-radius: 10px;
                        padding: 20px;
                        width: 500px;
                    "
                >
                    <!--Title-->
                    <h1 class="text-light my-3" >Iniciar Sesión</h1>
                    <!--Form-->
                    <form class="container d-flex flex-column justify-content-center align-items-center" @submit.prevent="login">
                        <!--Email-->
                        <div class="mb-3">
                            <label for="username" class="form-label text-light">Nombre de usuario:</label>
                            <input type="text" class="form-control" id="username" v-model="username" placeholder="unUsuarioX">
                        </div>
                        <!--Password-->
                        <div class="mb-3">
                            <label for="password" class="form-label text-light">Contraseña:</label>
                            <input type="password" class="form-control" id="password" v-model="password" placeholder="********">
                        </div>
                        <!--Button-->
                        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    </form>
                </div>
            </section>
            <!--Home-->
            <section 
                class="main-home h-100 d-flex flex-column justify-content-center align-items-center" 
                v-cloak
                v-if="render.home"
            >
                <!--Content-->
                <div 
                    class="container d-flex flex-row justify-content-center align-items-center rounded"
                    style="
                        height: 500px;
                        width: 1000px;
                        padding: 20px;
                    "
                >
                    <div 
                        class="container bg-light d-flex flex-column justify-content-center align-items-center rounded"
                        style="
                            height: 50%;
                            width: 250px;
                            padding: 20px;
                            cursor: pointer;
                        "
                        @click="goToAdoption"
                    >
                        <img height=100 src="src/assets/icons/adoptar.png" alt="">
                        <h3><b>Adoptar</b></h3>
                    </div>
                    <div 
                        class="container bg-light d-flex flex-column justify-content-center align-items-center rounded"
                        style="
                            height: 50%;
                            width: 250px;
                            padding: 20px;
                            cursor: pointer;
                        "
                        @click="goToGiveUpForAdoption"
                    >
                        <img height=100 src="src/assets/icons/adopcion.png" alt="">
                        <h3 class="text-center"><b>Dar en adopción</b></h3>
                    </div>
                    <div 
                        class="container bg-light d-flex flex-column justify-content-center align-items-center rounded"
                        style="
                            height: 50%;
                            width: 250px;
                            padding: 20px;
                            cursor: pointer;
                        "
                        v-if="user.admin"
                        @click="goToAdmin"
                        v-cloak
                    >
                        <img height=100 src="src/assets/icons/administrar.png" alt="">
                        <h3><b>Administrar</b></h3>
                    </div>
                </div>
            </section>
            <!--Adoption-->
            <section 
                class="main-adoption h-100 d-flex flex-column justify-content-center align-items-center" 
                v-cloak
                v-if="render.adoption"
            >
                <h1>Adopta una mascota</h1>
                <div class="adoption-pets d-flex flex-row justify-content-center align-items-center rounded">
                    <div v-for="pet in petsNoAdopted" class="mx-2 border d-flex flex-column justify-content-center align-items-center bg-light rounded">
                        <div class="container py-2 d-flex justify-content-center align-items-center">
                            <img style="background-size: cover;" class="rounded" :src="`src/assets/images/${pet.image}`" alt="dog" width="150" height="150">
                        </div>
                        <div class="container">
                            <p><b>Nombre:</b>{{pet.name}}</p>
                            <p><b>Especie:</b>{{pet.type}}</p>
                            <p><b>Raza:</b>{{pet.race}}</p>
                            <p><b>Edad:</b>{{pet.age}}</p>
                            <p><b>Sexo:</b>{{pet.sex}}</p>
                            <p><b>Color:</b>{{pet.color}}</p>
                            <p><b>Descripción:</b>{{pet.description}}</p>
                        </div>
                        <div class="container d-flex justify-content-center align-items-center my-3">
                            <button class="btn btn-primary" @click="adoptPet(pet)" :disabled="pet.adopted?true:false">{{pet.adopted?'Adoptado':'Adoptar'}}</button>
                        </div>
                    </div>
                </div>
            </section>
            <!--Give up for adoption -->
            <section 
                class="main-give-up-for-adoption h-100 d-flex flex-column justify-content-center align-items-center w-100" 
                v-cloak
                v-if="render.giveUpForAdoption"
                style="
                    background-image: url('./src/assets/images/background_giveUpForAdoption.jpg');
                    background-position: center; 
                    background-repeat: no-repeat;
                    background-size: cover;
                "
            >
                <h1 class="bg-dark text-light rounded">Dar en adopción una mascota</h1>
                <div class="give-up-for-adoption-pets d-flex flex-row justify-content-center align-items-center bg-light rounded w-75 p-5">
                    <div class="container w-100 d-flex flex-row flex-wrap justify-content-center align-items-center">
                        <!--Name-->
                        <div class="container w-25">
                            <label for="name">Nombre:</label>
                            <input type="text" id="name" placeholder="Nombre" class="form-control" v-model="name">
                        </div>
                        <!--Type-->
                        <div class="container w-25">
                            <label for="especie">Especie:</label>
                            <select id="especie" class="form-select" v-model="type">
                                <option disabled selected>Especie</option>
                                <option value="perro">Perro</option>
                                <option value="gato">Gato</option>
                            </select>
                        </div>
                        <!--Race-->
                        <div class="container w-25">
                            <label for="race" class="form-label">Raza:</label>
                            <input type="text" id="race" placeholder="Raza" class="form-control" v-model="race">
                        </div>
                        <!--Age-->
                        <div class="container w-25">
                            <label for="age" class="form-label">Edad:</label>
                            <input type="number" id="age" placeholder="Edad en años" class="form-control" v-model="age">
                        </div>
                        <!--Sex-->
                        <div class="container w-25">
                            <label for="sex" class="form-label">Sexo:</label>
                            <select id="sex" class="form-select" v-model="sex">
                                <option disabled selected>Sexo</option>
                                <option value="Macho">Macho</option>
                                <option value="Hembra">Hembra</option>
                            </select>
                        </div>
                        <!--Color-->
                        <div class="container w-25">
                            <label for="color" class="form-label">Color:</label>
                            <input type="text" id="color" placeholder="Color" class="form-control" v-model="color">
                        </div>
                        <!--Description-->
                        <div class="container w-25">
                            <label for="description" class="form-label">Descripción:</label>
                            <textarea id="description" placeholder="Descripción" class="form-control" v-model="description"></textarea>
                        </div>
                        <!--Image-->
                        <div class="container w-25">
                            <label for="image" class="form-label mx-2">Imagen:</label>
                            <input type="button" id="image" value="Seleccionar" class="btn btn-primary" @click="openSelectImage">
                        </div>
                        <!--Submit-->
                        <div class="container w-100 d-flex justify-content-center align-items-center my-3">
                            <input type="submit" value="Enviar" class="btn btn-primary" @click="addPetToAdoption">
                        </div>
                    </div>
                </div>
                <!--Chose the picture-->
                <div class="chose-dog container d-flex justify-content-center align-items-center" v-if="render.isDog" v-cloak>
                    <div class="dogs d-flex flex-row flex-wrap justify-content-center align-items-center">
                        <div class="container w-50 h-50 d-flex justify-content-center align-items-center">
                            <img src="./src/assets/images/dog_1.jpg" alt="dog" class="dog-picture rounded" @click="selectImage('dog_1.jpg')" >
                        </div>
                        <div class="container w-50 h-50 d-flex justify-content-center align-items-center">
                            <img src="./src/assets/images/dog_2.jpg" alt="dog" class="dog-picture rounded" @click="selectImage('dog_2.jpg')" >
                        </div>
                        <div class="container w-50 h-50 d-flex justify-content-center align-items-center">
                            <img src="./src/assets/images/dog_3.jpg" alt="dog" class="dog-picture rounded" @click="selectImage('dog_3.jpg')" >
                        </div>
                        <div class="container w-50 h-50 d-flex justify-content-center align-items-center">
                            <img src="./src/assets/images/dog_4.jpg" alt="dog" class="dog-picture rounded" @click="selectImage('dog_4.jpg')" >
                        </div>
                    </div>
                </div>
                <!--Chose pictures (cats)-->
                <div class="chose-dog container d-flex justify-content-center align-items-center" v-if="render.isCat" v-cloak>
                    <div class="dogs d-flex flex-row flex-wrap justify-content-center align-items-center">
                        <div class="container w-50 h-50 d-flex justify-content-center align-items-center">
                            <img src="./src/assets/images/cat_1.jpg" alt="dog" class="dog-picture rounded" @click="selectImage('cat_1.jpg')" >
                        </div>
                        <div class="container w-50 h-50 d-flex justify-content-center align-items-center">
                            <img src="./src/assets/images/cat_2.jpeg" alt="dog" class="dog-picture rounded" @click="selectImage('cat_2.jpeg')" >
                        </div>
                        <div class="container w-50 h-50 d-flex justify-content-center align-items-center">
                            <img src="./src/assets/images/cat_3.jpg" alt="dog" class="dog-picture rounded" @click="selectImage('cat_3.jpg')" >
                        </div>
                        <div class="container w-50 h-50 d-flex justify-content-center align-items-center">
                            <img src="./src/assets/images/cat_4.jpeg" alt="dog" class="dog-picture rounded" @click="selectImage('cat_4.jpeg')" >
                        </div>
                    </div>
                </div>
            </section>
            <!--Administrator-->
            <section class="h-100 w-100 bg-dark d-flex flex-column justify-content-center align-items-center" v-if="render.admin" v-cloak>
                <h1 class="text-light">Información de las mascotas:</h1>
                <div class="container">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-light"><b>Nombre</b></th>
                                <th class="text-light"><b>Especie</b></th>
                                <th class="text-light"><b>Raza</b></th>
                                <th class="text-light"><b>Sexo</b></th>
                                <th class="text-light"><b>Edad</b></th>
                                <th class="text-light"><b>Color</b></th>
                                <th class="text-light"><b>Adoptado</b></th>
                                <th class="text-light"><b>Descripción</b></th>
                            </tr>
                        </thead>
                        <tbody v-for="pet in pets">
                            <tr>
                                <th class="text-light">{{pet.name}}</th>
                                <th class="text-light">{{pet.type}}</th>
                                <th class="text-light">{{pet.race}}</th>
                                <th class="text-light">{{pet.sex}}</th>
                                <th class="text-light">{{pet.age}} años</th>
                                <th class="text-light">{{pet.color}}</th>
                                <th class="text-light">{{getAdoptPetStatus(pet)}}</th>
                                <th class="text-light">{{pet.description}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!--Footer-->
            <footer class="footer p-2" v-if="!render.login" v-cloak>
                <button class="btn btn-danger m-2" @click="logout">Salir</button>
            </footer>
        </main>
    </body>
    <!--Swal-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <!--Vue-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Data-->
    <script src="src/data/petsData.js"></script>
    <!--Login methods-->
    <script src="src/methods/loginMethods.js"></script>
    <!--Home methods-->
    <script src="src/methods/homeMethods.js"></script>
    <!--Adoption methods-->
    <script src="src/methods/adoptionMethods.js"></script>
    <!--Give up for adoption methods-->
    <script src="src/methods/giveUpForAdoptionMethods.js"></script>
    <!--Main file-->
    <script src="src/main.js"></script>
</html>